PORT=3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/codeclash
JUDGE0_URL=http://localhost:2358

# AWS Cognito
VITE_COGNITO_REGION=eu-north-1
VITE_COGNITO_USER_POOL_ID=eu-north-1_Mse59P0ET
VITE_COGNITO_CLIENT_ID=6e9fckn9ruch534omv3q082h8i
COGNITO_REGION=eu-north-1
COGNITO_USER_POOL_ID=eu-north-1_Mse59P0ET
COGNITO_CLIENT_ID=6e9fckn9ruch534omv3q082h8i
COGNITO_JWKS_URI=https://cognito-idp.eu-north-1.amazonaws.com/eu-north-1_Mse59P0ET/.well-known/jwks.json
