@import "tailwindcss";


/* text is the text colour */

@theme inline {
  /* radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* colours */
  --color-background: var(--background);
  --color-text: var(--text);
  --color-card: var(--card);
  --color-card-text: var(--card-text);
  --color-popover: var(--popover);
  --color-popover-text: var(--popover-text);
  --color-primary: var(--primary);
  --color-primary-text: var(--primary-text);
  --color-secondary: var(--secondary);
  --color-secondary-text: var(--secondary-text);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-muted: var(--muted);
  
  /* accents */
  --color-accent: var(--accent);
  --color-accent-text: var(--accent-text);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  /* charts */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  /* sidebar */
  --color-sidebar: var(--sidebar);
  --color-sidebar-text: var(--sidebar-text);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-text: var(--sidebar-primary-text);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-text: var(--sidebar-accent-text);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* font  */
  --font-body: var(--font);
  /* text size */
  --text-sm: var(--font-size-sm);
  --text-md: var(--font-size-md);
  --text-l: var(--font-size-l);
}

:root {
  --background: #dbdde1;
  --text: #0000;
  --font: 'Inter', sans-serif;
  --badge-font-size: 0.1rem;
  --badge-font-weight: 700;
  --primary: #051735;
  --secondary: #806bc0;
  --muted: #dadde3;
  --primary-text: #0f182a;
  --seconday-text: #64748b;

}

@layer base {
  * {
  }

  body {
    background-color: var(--background);
  }

}