/* Font import */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Baloo Bhai 2 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');
/************************/

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";



/* text is the text colour */

@theme inline {
  /* radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* colours */
  --color-background: var(--background);
  --color-text: var(--text);
  --color-card: var(--card);
  --color-card-text: var(--card-text);
  --color-popover: var(--popover);
  --color-popover-text: var(--popover-text);
  --color-primary: var(--primary);
  --color-primary-text: var(--primary-text);
  --color-secondary: var(--secondary);
  --color-secondary-text: var(--secondary-text);
  --color-muted-text: var(--muted-text);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-muted: var(--muted);

  /* Pink */
  --color-pink-100: #ED5A90;
  --color-pink-200: #E93577;
  --color-pink-300: #DC1860;
  --color-pink-400: #B91551;
  --color-pink-500: #931040;
  --color-pink-600: #6E0C30;
  --color-pink-700: #530A24;
  --color-pink-800: #490820;
  --color-pink-900: #250410;

  /* Buttons */
  --color-button-primary: var(--button-primary);
  --color-button-secondary: var(--button-secondary);
  --color-button-text-primary: var(--button-text-primary);
  --color-button-text-secondary: var(--button-text-secondary)
    /* accents */
    --color-accent: var(--accent);
  --color-accent-text: var(--accent-text);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* charts */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* sidebar */
  --color-sidebar: var(--sidebar);
  --color-sidebar-text: var(--sidebar-text);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-text: var(--sidebar-primary-text);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-text: var(--sidebar-accent-text);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* font  */
  --font-body: var(--font);
  --font-heading: var(--heading);
  --font-heading-weight: var(--heading-weight);
  --font-heading-size: var(--heading-size);
  --font-logo: var(--font-logo);
  --font-weight-light: 100;

  /* text size */
  --text-xsm: 1rem;
  --text-sm: 1.3rem;
  --text-md: 1.9rem;
  --text-l: 2.3rem;
  --text-xl: 3rem;
  --text-2xl: 3.3rem;
  --text-3xl: 3.6rem;

  /* shadows */
  --shadow-badge: var(--badge-shadow);

}

:root {

  --background: radial-gradient(circle at 38%, #530A24 100%);
  --radius: 20px;

  /* colours */
  --primary: #530a23;
  --secondary: #FFEFE0;
  --primary-text: #FCECDD;
  --secondary-text: #530a23;

  /* buttons */
  --button-primary: #C0395A;
  --button-secondary: #FFEFE0;
  --button-text-primary: #FFFF;
  --button-text-secondary: #9D2644;


  --text: #FFFF;

  /* fonts */
  --font: 'Roboto', sans-serif;
  --font-logo: 'Baloo Bhai 2', sans-serif;
  --heading: 'Baloo Bhai 2', sans-serif;

  --heading-weight: 700;
  --heading-sub-weight: 400;
  --heading-size: 3rem;

  --badge-font-size: 0.1rem;
  --badge-font-weight: 700;

  --badge-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  --font-size-sm: 1.3rem;
  --font-size-md: 2rem;
  --font-size-l: 2.5rem;
  --font-size-xl: 3rem;
  --font-weight: 500;
}

@layer base {
  * {
    font-family: var(--font);
  }

  .badge {
    box-shadow: var(--badge-shadow);
  }

  .heading {
    color: var(--primary-text);
    font-family: var(--heading);
    font-weight: var(--heading-weight);
    font-size: var(--heading-size);
    white-space: nowrap;
  }

  .heading-big {
    color: var(--primary-text);
    font-family: var(--heading);
    font-weight: var(--badge-font-weight);
    font-size: var(--heading-big-size);
    white-space: nowrap;
  }

  .heading-sub {
    color: var(--primary-text);
    font-family: var(--heading);
    font-weight: var(--heading-sub-weight);
    font-size: var(--font-size-md);
    white-space: nowrap;
  }

  .fields {
    font-size: var(--font-size-sm);
  }

  .primary-back-button {
    position: absolute;
    top: 15px;
    left: 40px;
    border-radius: 5px;
    padding: 4px 2px;
    color: var(--primary-text);
    font-family: var(--heading);
    font-weight: var(--heading-sub-weight);
    font-size: var(--font-size-md);
    white-space: nowrap;
    transition: transform 0.3s ease;
  }

  .secondary-back-button {
    position: absolute;
    top: 15px;
    left: 40px;
    border-radius: 5px;
    padding: 4px 2px;
    color: var(--secondary-text);
    font-family: var(--heading);
    font-weight: var(--heading-sub-weight);
    font-size: var(--font-size-md);
    white-space: nowrap;
    transition: transform 0.3s ease;
  }

  .primary-back-button:hover, .secondary-back-button:hover {
    transform: scale(1.2);
  }

}