@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  color: #F8FAFC;

}

.searching-section {
  width: min(90%, 1000px);
  height: auto;
  min-height: 900px;
  border: 5px solid #A78BFA;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  /*for circle and timer and writing stuff to be centered, maybe adjust? */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
  transition: all 0.3s ease;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.row-circles {
  display: flex;
  flex-direction: row; 
  gap: 100px;    /*i dont know exact measurement of distance between circles, please correct if necessary*/      
  align-items: center;
}


.purple-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(180deg, #A78BFA,#737373);
  border: 10px solid #A78BFA;
  margin: 0 auto 30px auto;
  position: relative;
  animation: pulse 2s infinite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
}

.blue-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(180deg, #3B82F6,#737373);
  border: 10px solid #3B82F6;
  margin: 0 auto 30px auto;
  position: relative;
  animation: pulse 2s infinite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.timer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.timer-icon {
  width: 80px;
  height: 80px;
  background-image: url('../../assets/timer.png');
  background-size: cover;
  background-position: center;
}

.timer-text {
    font-size: 80px;
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
    color: #0F172A;
}

.searching-text {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 48px;
    color: #0F172A;
    margin-bottom: 10px;
    font-weight: 700;
    font-style: bold;
}

.vs-text {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 64px;
    color: #0F172A;
    margin-bottom: 10px;
    font-weight: 700;
    font-style: bold;
}

.under-searching-text {
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  color: #0F172A;
  margin-bottom: 30px;
}

.cancel-button {
  background: #EF4444;
  width: 323px;
  height: 69px;
  border: 1px solid #0F172A;
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 32px;
  font-style: normal;
  font-weight: 400; 
  color: #0F172A;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  
}

.cancel-button:hover {
  background: rgba(180, 23, 23, 0.842);
  transform: scale(1.1);
}


